@import '../../scss/mixin.scss';

.favorites {

    &__conteiner {
        margin: 50px 0px;   
    }
    &__title {
        color: white;
    }

    &__items {
        color: white;
        margin-right: 50px;
    }

    &__buttonDelete {
        @include button
    }
}