.title {
    color: white;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 146px;
    text-align: center;
}

.search_wrapper {
    text-align: center;
}

.content {
    padding: 0 230px;
}

.wrapper {
    display: flex; 
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.container {
    padding: 0 52px;
}

.genre {
    color: white;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    margin-top: 30px;
}

.loading {
    color: white;
    font-family: "Bitter";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.text {
    color: white;
    font-family: "Bitter";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    margin-top: 30px;
    margin-bottom: 50px;
}