.footer {
    color: white;
    padding: 0 52px;
    display: flex;
    justify-content: space-between;

    &__list {
        display: flex;
        width: 300px;
        height: 146px;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 85px;
    }

    &__wrapper {
        display: flex;
    }

    &__link {
        display: flex;
    }

    &__text {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    
    &__span {
        color: #B11226;
    }

    &__container {
        width: 665px;
    } 
}
