.footer {
    color: white;
    padding: 0 52px;

    &__text {
        font-family: 'Bitter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    
    &__span {
        color: #B11226;
        font-family: 'Bitter'
    }

    &__container {
       margin-top: 50px;
       padding-bottom: 50px;
    } 

    &__items {
        font-family: 'Bitter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
    }

    &__title {
        font-family: 'Bitter';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 22px;
        margin-bottom: 10px;
    }
}
