.search {
    margin-top: 35px;
    position: relative;
    display: flex;

    &__input {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 15px 81px;
        width: 856px;
        font-family: 'Bitter';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        margin-top: 7px;
        height: 62px;
    }
    &__icon {
        position: absolute;
        height: 41px;
        z-index: 1;
        top: 18px;
        left: 25px;
        width: 41px;
    } 

    &__button {
        width: 82px;
        height: 66px;
        background-color: white;
        cursor: pointer;
        margin-left: 20px;
        margin-top: 5px;
        display: block;
        position: relative;

        &::before {
            content: url('../../../public/arrow.svg');
            display: block;
            position: absolute;
            left: 19px;
            bottom: 10px;
            width: 38px;
            height: 44px;
        }
    }
}