.cartFilm{
    &__film {
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
        color: white;
        margin-bottom: 15px;
        margin-right: 35px;
        
    }
}

