.fullFilms {
    padding: 0 52px;
    color: white;
    
    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        margin-top: 51px;
    }

    &__video {
        width: 1354px;
        height: 768px;
        background-color: #201F1F;
        margin: 51px 0;
    }

    &__player_list {
        width: 1354px;
        height: 207px;
        background-color: #201F1F;
        padding: 70px 281px;
        display: flex;
        margin-bottom: 51px;
    }

    &__player_items {
        width: 131px;
        height: 71px;
        text-align: center;
        background-color: #000000;
        color: #B11226;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 34px;
        }
    }

    &__players_items_active {
        box-shadow: 0px 4px 4px rgba(177, 18, 38, 0.5);
        width: 131px;
        height: 71px;
        text-align: center;
        background-color: #000000;
        color: #B11226;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 34px;
        }
    }



    &__containter {
        display: flex;
        margin-bottom: 50px;
    }

}
