@import '../../scss/mixin.scss';

.recommended {
    position: relative;
    margin-top: 52px;

    &__title {
        font-family: 'Bitter';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #B11226;

        &::before{
            content: "";
            border: 2px solid #B11226;
            filter: blur(2px);
            position: absolute;
            top: 40px;
            width: 100%
        }
    }

    &__item {
        @include button;
        padding: 13px 36px;
        width: 165px;
        position: relative;
        margin-right: 59px;
        cursor: auto;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 39px;
    }

    &__icon {
        position: absolute;
    }

    &__deteleButton {
        right: 10px;
        top: 21px;
        width: 13px;
        height: 14px;
        cursor: pointer;
        position: absolute;
        background-color: inherit;
        border: none;
    
    }

    &__trending_svg {
        position: absolute;
        left: 4px;
        top: 21px;
    }
}